@mixin m($media) {
    @media only screen and (max-width: $media+'px') {
        @content;
    }
}
@mixin mn($media) {
    @media only screen and (min-width: $media+'px') {
        @content;
    }
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder { 
        @content;
    }
    &::-moz-placeholder { 
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}