.l-wrapper{
	position: relative;
	min-height: 100vh;
	overflow: hidden;
}

.container {
	// border: 1px solid red;
	// background-color: rgba(0,0,0,.1);
}

body {
	// background-color: #1b9cd1;
	background-color: #ffffff;
}

a {
	text-decoration: none;
	color: #ffffff;
	@include mn(992) {
		&:hover {
			color: #ffffff;
		}
	}
}