.c-footer{
    background-color: #fff;
    &__container {
    	width: 100%;
    	max-width: 1200px;
    	margin: 0 auto;
    	border-top: 1px solid #e3f3f9;
		padding: 40px 0 35px 0;
		@include m(991) {
			padding: 35px 0 30px 0;
		}
    }
    &__wrapper {
		display: flex;
		justify-content: space-between;
		color: #bcbcbc;
		font-size: 1.3rem;
		@include m(991) {
			font-size: 1.2rem;
		}
		@include m(767) {
			display: block;
		}
    }
    &__block {
    	@include m(767) {
    		width: 100%;
    		max-width: 100%;
    		text-align: center;
    		& + .c-footer__block {
    			margin-top: 25px;
    		}
    	}
    	a {
    		text-decoration: underline;
			color: $blue-c;
			span {
				color: #bcbcbc;
				text-decoration: none;
			}
		}
    	&.socials {
    		display: flex;
    		align-items: center;
    		@include m(767) {
    			justify-content: center;
    		}
    		.socials-item + .socials-item {
    			margin-left: 12px;
    		}
    		.icon {
    			font-size: 33px;
    			color: #7fb7e0;
    			transition: $t_d ease;
    			&:hover {
    				opacity: 0.8;
    			}
    		}
    	}
    	&.text {
    		max-width: 300px;
    		.copyright {
    			margin-bottom: 13px;
    		}
    		@include m(991) {
    			max-width: 190px;
    			.copyright {
    				margin-bottom: 8px;
    			}
    		}
    		@include m(767) {
    			max-width: 400px;
    			margin: 0 auto;
    		}
    	}
    	&.development {
    		max-width: 160px;
    		@include m(767) {
    			max-width: 100%;
    		}
    	}
    }
}