mixin footer()
	.c-footer
		.c-footer__container
			.container
				.c-footer__wrapper
					.c-footer__block.text
						p.copyright © «#[a(href="#") МОЛКОН]», 2016-2018
						p Оптовая продажа молока и обрата (обезжиренного молока). Оптовая продажа зерна и кукурузы
					.c-footer__block.socials
						a.socials-item(href="javascript:void(0)")
							+svg('icon-vk')
						a.socials-item(href="javascript:void(0)")
							+svg('icon-facebook')
						a.socials-item(href="javascript:void(0)")
							+svg('icon-twitter')
					.c-footer__block.development
						p Разработка и поддержка сайта — 
							a(href="javascript:void(0)") NAYS
						.counter
							img(src="s/images/useful/counter.jpg", alt="counter")
