extends _includes/_extends/main

include _includes/components/c-wholesale/c-wholesale
include _includes/components/c-contacts/c-contacts
include _includes/components/c-modal/c-modal

block head
	+head({title: 'Molkon'})

block content
	+c-wholesale({
		sectionid: 'section1',
		images: false,
		hint: true,
		titletext: '<b>Оптовые продажи</b> сырого молока и обрата<i>*</i>',
		text: 'Оптовая продажа молока и обрата. <br>Выгодные условия поставки',
		milkparallaxblock: true,
		spikesparallaxblock: false,
		contacstparallaxblock: false
	})
	+c-wholesale({
		sectionid: 'section2',
		images: true,
		hint: false,
		wrapperclass: 'c-sale__wrapper_white',
		aplicationclass: 'c-sale__wholesale-application_white',
		blockclass: 'c-sale__wholesale-block_black',
		titletext: '<b>Оптовая продажа</b> фуражного зерна',
		text: 'Оптовые поставки зерна. В наличии большие объёмы и фуражного зерна. Весь товар сертифицирован. Доставка до склада грузополучателя.',
		milkparallaxblock: false,
		spikesparallaxblock: true,
		contacstparallaxblock: false
	})
	+c-contacts({
		text : '<b>Контактная</b> информация',
		milkparallaxblock: false,
		spikesparallaxblock: false,
		contacstparallaxblock: true
	})

block beforeScripts
	+c-modal({modaltitle: 'Заказать звонок', textarea: false, modalid: 'modal-call'})
	+c-modal({modaltitle: 'Оставить заявку', textarea: true, modalid: 'modal-request'})