.c-sale {
	&__wrapper {
		min-height: 839px;
		background-image: url('../../s/images/useful/wave.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		padding-top: 244px;
		position: relative;
		@include m(991) {
			background-image: url('../../s/images/useful/wave-full.jpg');
			background-size: cover;
			background-repeat: no-repeat;
		}
		#scene, #sceneSpikes {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include m(991) {
				display: none;
			}
		}
		.blured-drop__wrap, .clear-drop__wrap, .blured-spikes__wrap, .clear-spikes__wrap {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			img {
				width: auto;
				height: auto;
				display: block;
				margin: 0 auto;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%)
			}
		}
		.blured-drop__wrap, .clear-drop__wrap {
			img {
				left: 55%;
				top: 41%;
			}
		}
		@include m(767) {
			.clear-drop__wrap {
				img {
					left: 65%;
				}
			}
		}
		.blured-spikes__wrap {
			img {
				top: 33%;
			}
		}
		.clear-spikes__wrap {
			img {
				transform: none;
				top: 5%;
			    left: 18%;
			    position: absolute;
			}
		}
		&_white {
			background-color: #ffffff;
			background-image: url('../../s/images/useful/spikes.png');
			background-repeat: no-repeat;
			background-size: 75%;
    		background-position: 47% 59%;
			padding-top: 95px;
			@include m(991) {
				background-image: url('../../s/images/useful/spikes-full.jpg');
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
		@include m(1199) {
			padding-top: 200px;
			min-height: 785px;
			&_white {
				padding-top: 50px;
				min-height: 730px;
			}
		}
		@include m(991) {
			padding-top: 180px;
			min-height: 680px;
			&_white {
				min-height: 580px;
				padding-top: 80px;
			}
		}
		@include m(767) {
			padding-top: 130px;
			min-height: 680px;
			&_white {
				min-height: 520px;
				padding-top: 20px;
			}
		}
	}
	&__wholesale {
		&-wrapper {
			padding-left: 21px;
			position: relative;
			z-index: 2;
			&:after {
				content: '';
				display: table;
				clear: both;
				height: 0;
			}
			@include m(991) {
				padding-left: 0;
			}
		}
		&-block {
			width: 100%;
			max-width: 580px;
			color: #ffffff;
			@include m(1199) {
				max-width: 480px;
			}
			@include m(991) {
				max-width: 100%;
				margin: 0 auto;
				text-align: center;
			}
			&_black {
				color: $black-c;
				max-width: 505px;
				.c-sale__wholesale-title {
				    line-height: 4.4rem;
				    margin-bottom: 45px;
				}
				.c-sale__wholesale-text {
					line-height: 2.5rem;
				}
				@include m(1199) {
					.c-sale__wholesale-title {
					    margin-bottom: 20px;
					    font-size: 3.3rem;
					}
					.c-sale__wholesale-text {
						font-size: 1.72rem;
					}	
				}
				@include m(991) {
					.c-sale__wholesale-title {
					    margin-bottom: 20px;
					    font-size: 2.7rem;
					}
					.c-sale__wholesale-text {
						font-size: 1.6rem;
						margin-bottom: 15px;
					}	
				}
				@include m(767) {
					.c-sale__wholesale-title {
					    margin-bottom: 20px;
					    font-size: 2.4rem;
					    line-height: 3rem;
					}
					.c-sale__wholesale-text {
						font-size: 1.4rem;
						margin-bottom: 15px;
						line-height: 2.3rem;
					}	
				}
			}
			&.hint {
				float: right;
				max-width: 311px;
				padding-top: 11px;
				@include m(991) {
				    max-width: 200px;
					padding-top: 34px;
					margin: 0 auto;
				}
			}
			.hint-title {
				font-size: 1.7rem;
				font-weight: 600;
				line-height: 3rem;
				margin-bottom: 12px;
				text-shadow: $t_sh;
				&:before {
					content: '* —';
					display: block;
					margin-left: -40px;
					float: left;
				}
				@include m(1199) {
					font-size: 1.55rem;
				}
				@include m(991) {
					font-size: 1.35rem;
					&:before {
						margin-left: -5px;
					}
				}
				@include m(767) {
					font-size: 1.2rem;
					&:before {
						margin-left: 25px;
					}
				}
			}
			.hint-text {
				font-weight: 300;
				font-size: 1.5rem;
				@include m(1199) {
					font-size: 1.4rem;
				}
				@include m(991) {
					font-size: 1.2rem;
				}
				@include m(767) {
					font-size: 1.1rem;
				}
			}
		}
		&-title {
			font-size: 4.5rem;
			font-weight: 300;
			margin-bottom: 30px;
			text-shadow: $t_sh;
			letter-spacing: -0.15px;
			b {
				font-weight: 700;
			}
			i {
				color: #9cdeee;
			}
			@include m(1199) {
				font-size: 3.3rem;
				margin-bottom: 20px;
			}
			@include m(991) {
				font-size: 2.7rem;
			}
			@include m(767) {
				font-size: 2.4rem;
			}
		}
		&-text {
			text-shadow: $t_sh;
			font-size: 1.9rem;
			font-weight: 300;
			@include m(1199) {
				font-size: 1.72rem;
			}
			@include m(991) {
				font-size: 1.6rem;
			}
			@include m(767) {
				font-size: 1.4rem;
			}
		}
		&-application {
			color: #239ecd;
			display: inline-block;
			background-color: #ffffff;
			padding: 8px 20px;
			border-radius: 22px;
			transition: background-color $t_d ease, color $t_d ease;
			font-size: 1.7rem;
			outline: none;
			@include m(1199) {
				font-size: 1.5rem;
			}
			@include m(991) {
				font-size: 1.4rem;
			}
			&-wr {
				margin-top: 31px;
				padding-left: 5px;
				@include m(1199) {
					margin-top: 30px;
				}
				@include m(991) {
					margin-top: 25px;
					padding-left: 0;
				}
			}
			.icon {
				font-size: 29px;
				margin-right: 4px;
				transition: $t_d ease;
				@include m(1199) {
					font-size: 2.4rem;
					margin-right: 8px;
				}
			}
			&:hover {
				background-color: rgba(255,255,255,.8);
				color: darken(#239ecd, 15%);
			}
			&_white {
				border: 1px solid #d0d0d0;
				color: $black-c;
				.icon {
					color: #d0d0d0;
				}
				&:hover {
					background-color: #fff;
					color: darken(#239ecd, 15%);
				}
			}
		}
	}
	&__images {
		&-wrapper {
			display: flex;
			margin-top: 59px;
			@include m(1199) {
				margin-top: 45px;
			}
			@include m(991) {
				margin-top: 35px;
				justify-content: center;
			}
		}
		&-block {
			width: 110px;
			text-align: center;
			img {
				width: 100%;
				height: 110px;
				border-radius: 50%;
			}
			& + .c-sale__images-block {
				margin-left: 31px;
			}
			@include m(1199) {
				width: 95px;
				img {
					height: 95px;
				}
				& + .c-sale__images-block {
					margin-left: 25px;
				}
			}
			@include m(991) {
				width: 85px;
				img {
					height: 85px;
				}
				& + .c-sale__images-block {
					margin-left: 20px;
				}
			}
			@include m(767) {
				width: 75px;
				img {
					height: 75px;
				}
				& + .c-sale__images-block {
					margin-left: 10px;
				}
			}
		}
		&-name {
			font-size: 1.4rem;
			font-weight: 300;
			color: $black-c;
			@include m(1199) {
				font-size: 1.35rem;
			}
			@include m(991) {
				font-size: 1.25rem;
			}
			@include m(767) {
				font-size: 1.15rem;
			}
		}
	}
}