mixin c-wholesale(data)
	.c-sale__wrapper.scene(class='' + data.wrapperclass ? data.wrapperclass : '', id='' + data.sectionid ? data.sectionid : '')
		if data.milkparallaxblock
			#scene
				.blured-drop__wrap(data-depth="0.1")
					img(src="s/images/useful/blur-drop.png", alt="blur-drop")
				.clear-drop__wrap(data-depth="0.3")
					img(src="s/images/useful/clear-drop.png", alt="clear-drop")
		if data.spikesparallaxblock
			#sceneSpikes
				.blured-spikes__wrap(data-depth="0.1")
					img(src="s/images/useful/blur-spikes.png", alt="blur-spikes")
				.clear-spikes__wrap(data-depth="0.3")
					img(src="s/images/useful/clear-spikes.png", alt="clear-spikes")
		.container
			.c-sale__wholesale-wrapper
				.c-sale__wholesale-block(class='' + data.blockclass ? data.blockclass : '')
					h2.c-sale__wholesale-title!= data.titletext
					span.c-sale__wholesale-text!= data.text 
					if data.images
						.c-sale__images-wrapper
							.c-sale__images-block
								img(src="s/images/useful/corn.png", alt="corn")
								span.c-sale__images-name Кукурудза
							.c-sale__images-block
								img(src="s/images/useful/barley.png", alt="barley")
								span.c-sale__images-name Ячмень
							.c-sale__images-block
								img(src="s/images/useful/wheat.png", alt="wheat")
								span.c-sale__images-name Пшеница
					.c-sale__wholesale-application-wr
						a(href="#modal-request", data-toggle="modal", class='' + data.aplicationclass ? data.aplicationclass : '').c-sale__wholesale-application
							+svg('icon-application')
							span Оставить заявку
				if data.hint
					.c-sale__wholesale-block.hint
						span.hint-title Обезжиреное молоко
						p.hint-text Продукт, получаемый в результате отделения сливок из цельного молока в процессе сепарирования