.c-header{
    height: 123px;
    display: flex;
    align-items: flex-end;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding-bottom: 10px;
    transition: height .4s ease;
    z-index: 2;
    &.sticky {
        background-color: rgba(21, 172, 219, .9);
        height: 80px;
        z-index: 10;
        @include m(1199) {
            height: 70px;
        }
        @include m(991) {
            height: 60px;
        }
    }
    @include m(1199) {
        height: 100px;
        padding-bottom: 5px;
    }
    @include m(991) {
        height: 85px;
        padding-bottom: 0;
    }
    @include m(767) {
        height: 70px;
    }
    &__wrapper {
    	display: flex;
    	justify-content: space-between;
        align-items: center;
    	min-height: 60px;
    }
    &__menu-responsive {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 73%;
        @include m(991) {
            max-width: 100%;
            position: fixed;
            display: block;
            width: 270px;
            height: 100vh;
            right: -270px;
            top: 0;
            background-color: rgba(27, 156, 209, 1);
            display: block;
            padding-top: 36px;
        }
    }
    &__hamburger {
        display: none;
        cursor: pointer;
        .icon {
            font-size: 4rem;
            color: #fff;
            transition: .25s ease-in-out;
            &:hover {
                color: $blue-c;
            }
        }
        @include m(991) {
            display: block;
        }
        @include m(767) {
            margin-top: -8px;
            .icon {
                font-size: 3.5rem;
            }
        }
    }
    &__menu-close {
            margin-bottom: 20px;
            padding-left: 15px;
            display: none;
        .icon {
            font-size: 4rem;
            cursor: pointer;
        }
        @include m(991) {
            display: block;
        }
        @include m(767) {
            .icon {
                font-size: 3.5rem;
            }
        }
    }
    &__logo {
        @include m(1199) {
            img {
                width: 175px;
            }
        }
        @include m(991) {
            img {
                width: 140px;
            }
        }
    }
    &__contacts {
    	display: flex;
    	align-items: flex-start;
    	&-item {
    		display: inline-block;
    		padding: 10px 17px;
    		border: 1px solid $border-c;
    		border-radius: 22px;
    		margin: 0 5px;
    		font-size: 1.7rem;
    		transition: $t_d ease;
    		color: #dcf3fa;
    		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    		@include mn(992) {
                &:hover {
        			border-color: #ffffff;
        			color: #ffffff;
        		}
            }
            @include m(1199) {
                padding: 7px 17px;
                font-size: 1.5rem;
                margin: 0 4px;
            }
            @include m(991) {
                margin: 0 0 7px 0;
                text-align: center;
                border-radius: 0;
                border: none;
                background-color: rgba(255,255,255,.2);
                color: #fff;
                width: 100%;
            }
    	}
        @include m(991) {
            flex-wrap: wrap;
            width: 100%;
        }
    }
    &__call-back {
    	display: flex;
    	align-items: flex-start;
    	flex-wrap: wrap;
    	width: 200px;
    	@include m(991) {
            width: 100%;
        }
        &-item {
    		display: block;
    		width: 100%;
    		line-height: 3.5rem;
    		transition: $t_d ease;
    		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
            @include mn(992) {
        		&:hover {
        			color: rgba(255,255,255,.8);
        		}
            }
            @include m(991) {
                color: #222;
                background-color: rgba(255,255,255,.2);
                text-align: center;
                margin-bottom: 18px;
                color: #fff;
                &:last-child {
                    margin-bottom: 7px;
                }
            }
    	}
    	.call-back {
    		text-decoration: underline;
    		font-size: 1.4rem;
    		font-weight: 300;
    		margin-top: -11px;
            outline: none;
            @include m(1199) {
                font-size: 1.25rem;
            }
    	}
    	.tel {
    		font-size: 2.3rem;
    		font-weight: 300;
		    letter-spacing: 0.3px;
    		b {
    			font-weight: 700;
    		}
            @include m(1199) {
                font-size: 2rem;
            }
            @include m(991) {
                font-size: 1.5rem;
            }
    	}
    }
    &__mail {
        @include m(991) {
            width: 100%;
        }
    	&-item {
    		border: 1px solid #a9e6f7;
    		padding: 0 24px;
            height: 44px;
            display: flex;
            align-items: center;
    		border-radius: 22px;
    		font-size: 1.7rem;
    		line-height: 4.2rem;
    		transition: $t_d ease;
    		color: #dcf3fa;
    		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
            @include mn(992) {
        		&:hover, .icon:hover {
        			border-color: #ffffff;
        			color: #ffffff;
        		}
            }
    		.icon {
    			margin-right: 11px;
    			font-size: 27px;
                transition: 0.4s ease;
    		}
            @include m(1199) {
                font-size: 1.5rem;
                height: 40px;
                .icon {
                    font-size: 2.3rem;
                }
            }
            @include m(991) {
                border: none;
                background-color: rgba(255,255,255,.2);
                border-radius: 0;
                color: #fff;
                justify-content: center;
                .icon {
                    color: #fff;
                }
                &:hover {
                    .icon {
                        color: #00606a;
                    }
                }
            }
    	}
    }
}