mixin header()
	header.c-header.js-header
		.container
			.c-header__wrapper
				.c-header__logo
					a(href="javascript:void(0)")
						img(src="s/images/useful/logo.png", alt="logo")
				.c-header__hamburger
					+svg('icon-hamburger')
				.c-header__menu-responsive
					.c-header__menu-close
						+svg('icon-close')
					.c-header__contacts
						a.c-header__contacts-item(href="#section1") Обрат
						a.c-header__contacts-item(href="#section2") Зерно
						a.c-header__contacts-item(href="#contacts") Контакты
					.c-header__call-back
						a.c-header__call-back-item.tel(href="tel:+74852593725") +7 (4852) <b>593-725</b>
						a.c-header__call-back-item.call-back(href="#modal-call", data-toggle="modal") Заказать обратный звонок
					.c-header__mail
						a.c-header__mail-item(href="mailto:molkon@molkon.com")
							+svg('icon-envelope')
							span Письмо
