html {
	height: 100%;
	font-size: 10px;
}
body {
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100%;
	letter-spacing: .015rem;
	min-width: 300px;
	overflow-x: hidden;
	&:after {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255,255,255,.85);
		content: '';
		display: block;
		z-index: 90;
		opacity: 0;
		visibility: hidden;
	}
	&.faded {
		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
	@include mn(992) {
		right: 0 !important;
		&.faded {
			&:after {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}
img{
	max-width: 100%;
	height: auto;
}
