mixin c-modal(data)
	.fade.modal.js-map(tabindex='-1', role='dialog', aria-hidden='true', id='' + data.modalid ? data.modalid : '')
		.modal-dialog
			.modal-content(role='document')
				.modal__wrapper
					button.close.close_autblock(type='button', data-dismiss='modal', aria-label='Close')
						+svg('icon-cls')
					.modal__container
						span.modal__title= data.modaltitle
						form.modal__form
							.row
								.col-sm-12.col-xs-24
									+form-group({
										type: 'text',
										name: 'myname',
										placeholder:'Ваше имя',
										form_group_class: 'my_style',
										required: true
									})
								.col-sm-12.col-xs-24
									+form-group({
										type: 'text',
										name: 'email',
										placeholder:'Телефон или e-mail',
										form_group_class: 'my_style',
										required: true
									})
								if data.textarea
									.col-sm-24.col-xs-24
										+form-group({
											type: 'textarea',
											name: 'myanme',
											placeholder:'Сообщение, комментарий или предложение...',
											form_group_class: 'my_style',
											required: true
										})
								.col-sm-24.col-xs-24
									button.submit-btn(type="submit")
										+svg('icon-envelope')
										span Отправить
						p.modal__text Нажимая кнопку «Отправить» я выражаю свое согласие на #[a(href="javascript:void(0)") обработку персональных] данных.