.modal {
	&-dialog {
		max-width: 592px !important;
		@include m(1199) {
			max-width: 515px !important;
		}
		@include m(991) {
			max-width: 440px !important;
		}
		@include m(767) {
			max-width: 100% !important;
		}
	}
	&-content{
		width: 100%;
		display: block;
		text-align: center;
		background-color: transparent;
		border: none;
		padding: 0 20px;
		.close {
	        position: absolute;
		    right: 30px;
		    top: 30px;
		    cursor: pointer;
		    &:focus {
		    	outline: none;
		    }
		    .icon-cls {
		    	font-size: 3.4rem;
		    }
			@include m(1199) {
				right: 25px;
				top: 25px;
				.icon-cls {
					font-size: 2.6rem;
				}
			}
			@include m(991) {
				right: 20px;
				top: 20px;
				.icon-cls {
					font-size: 2.2rem;
				}
			}
			@include m(767) {
				right: 15px;
				top: 15px;
				.icon-cls {
					font-size: 2rem;
				}
			}
		}
	}
}
.modal-backdrop {
	background-color: #fff;
	opacity: 0.75;
}

.modal {
	&__wrapper {
		padding: 62px 20px;
		max-width: 592px;
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
		background-color: #ffffff;
		margin-top: 100px;
		position: relative;
		display: flex;
	    align-items: center;
	    justify-content: center;
	    @include m(1199) {
    	    padding: 40px 15px;
    		max-width: 520px;
    		margin-top: 60px;
	    }
	    @include m(991) {
			max-width: 440px;
			padding: 30px 10px;
		}
		@include m(767) {
			max-width: 440px;
			margin: 55px auto 0 auto;
		}
	}
	&__container {
		width: 100%;
		max-width: 480px;
		margin: 0 auto;
		@include m(991) {
			max-width: 90%;
		}
	}
	&__title {
		color: $black-c;
		font-size: 2.5rem;
		font-weight: 500;
		line-height: 2.2rem;
		display: block;
		margin-bottom: 19px;
		@include m(1199) {
			font-size: 2.3rem;
			line-height: 2rem;
		}
		@include m(991) {
			font-size: 2rem;
		}
		@include m(767) {
			font-size: 1.8rem;
		}
	}
	&__form {
		display: block;
		padding: 26px 0 19px 0;
		position: relative;
		&:before, &:after {
			content: '';
			display: block;
			width: 168px;
			height: 1px;
			position: absolute;
			background-color: #efefef;
			left: 50%;
			transform: translate(-50%, 0);
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		@include m(767) {
			padding: 20px 0;
		}
		input {
	        padding: 0 20px;
	        height: 44px;
	        @include m(1199) {
	        	height: 42px;
	        }
	        @include m(767) {
	        	height: 38px;
	        }
	    }
	    input, textarea {
	        border: 1px solid #c9e7f4;
	        background-color: #f5fbfd;
	        color: #222222;
	        font-size: 1.5rem;
	        outline: none;
	        border-radius: 22px;
	        @include placeholder {
                color: #222222;
            }
	        &:focus {
	            outline: none;
	        }
	        @include m(1199) {
	        	font-size: 1.4rem;
	        }
	        @include m(767) {
	        	font-size: 1.3rem;
	        }
	    }
	    textarea {
	        height: 125px;
	        resize: none;
	        padding: 16px 20px;
	        @include m(1199) {
	        	height: 115px;
	        }
	        @include m(767) {
	        	height: 95px;
	        }
	    }
	    .submit-btn {
            border-radius: 22px;
            height: 44px;
            background-color: #1b9cd1;
            color: #ffffff;
            font-size: 1.7rem;
            padding: 0 27px 0 17px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: background-color $t_d ease;
            margin: 27px auto 0 auto;
            .icon {
                color: #ffffff;
                margin-right: 12px;
                font-size: 2.5rem;
            }
            &:hover {
                background-color: rgba(27, 156, 209, .8);
            }
            @include m(1199) {
            	height: 42px;
            	margin: 15px auto 0 auto;
            	.icon {
            		font-size: 2.4rem;
            	}
            }
            @include m(767) {
            	height: 38px;
            	margin: 10px auto 0 auto;
            	.icon {
            		font-size: 2.1rem;
            	}
            }
        }
	}
	&__text {
		width: 100%;
		max-width: 295px;
		color: $black-c;
		font-size: 1.3rem;
		margin: 18px auto 0 auto;
		text-align-last: auto;
		a {
			color: #1b9cd1;
			text-decoration: underline;
		}
		@include m(767) {
			margin: 13px auto 0 auto;
		}
	}
}