include ../c-forms/c-forms

mixin c-contacts(data)
	.c-contacts.js-map#contacts
		if data.contacstparallaxblock
			#sceneContacts
				.markers__wrap(data-depth="0.2")
					img(src="s/images/useful/markers.png", alt="markers")
		.container
			h2.c-sale__wholesale-title!= data.text
		.c-contacts__wrap
			.map-wrapper
				.my-wrapper-inner#my-map-id
			.container.fix_position-absolute
				.c-contacts__inner
					.c-contacts__inner-txt
						p Наша компания всегда #[strong открыта для сотрудничества] и взаимовыгодных предложений!
						p Телефон — #[strong (4852) 593-725]
						p Вы можете связаться с нами при помощи формы обратной связи, просто позвонив нам или же приехать в гости: #[strong г. Ярославль, ул. Победы, дом 37, 5 этаж]
					form
						.row
							.col-sm-12.col-xs-24
								+form-group({
									type: 'text',
									name: 'myname',
									placeholder:'Ваше имя',
									form_group_class: 'my_style',
									required: true
								})
							.col-sm-12.col-xs-24
								+form-group({
									type: 'text',
									name: 'email',
									placeholder:'Телефон или e-mail',
									form_group_class: 'my_style',
									required: true
								
								})
							.col-sm-24.col-xs-24
								+form-group({
									type: 'textarea',
									name: 'myanme',
									placeholder:'Сообщение, комментарий или предложение...',
									form_group_class: 'my_style',
									required: true
								
								})
							.col-sm-9.col-xs-24
								button.submit-btn(type="submit")
									+svg('icon-envelope')
									span Отправить
							.col-sm-15.col-xs-24
								p.security-text Нажимая кнопку «Отправить» я выражаю свое согласие на 
									a(href="javascript:void(0)") обработку персональных
									span  данных
		.c-contacts__href-wrapper
			a(href='#') Показать большую карту
			img(src="s/images/useful/forma.png", alt="map")