.c-contacts {
    padding-top: 30px;
    position: relative;
    #sceneContacts {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include m(991) {
            display: none;
        }
        .markers__wrap {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            img {
                width: auto;
                height: auto;
                display: block;
                margin: 0 auto;
                position: absolute;
                top: 0; 
                left: 0px;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%, -50%)
            }
        }
    }
    .form-control {
        border-radius: 10px;
    }
    .c-sale__wholesale-title {
        margin-bottom: 38px;
        padding-left: 21px;
    }
    @include m(991) {
        .c-sale__wholesale-title {
            text-align: center;
            padding-left: 0;
        }
    }
    .my_style {
        margin-bottom: 1.7rem;
        @include m(1199) {
            margin-bottom: 1.5rem;
        }
        @include m(991) {
            margin-bottom: 1.2rem;
        }
        input {
            padding: 0 20px;
            @include m(991) {
                padding: 0 18px;
            }
        }
        input, textarea {
            height: 44px;
            border: 1px solid #c9e7f4;
            background-color: #f5fbfd;
            color: #222222;
            font-size: 1.5rem;
            outline: none;
            border-radius: 22px;
            &:focus {
                outline: none;
            }
            @include placeholder {
                color: #222222;
            }
            @include m(1199) {
                height: 40px;
                font-size: 1.3rem;
            }
            @include m(991) {
                height: 35px;
                font-size: 1.2rem ;
            }
        }
        textarea {
            height: 125px;
            resize: none;
            padding: 16px 20px;
            @include m(1199) {
                height: 110px;
            }
            @include m(991) {
                height: 95px;
                padding: 12px 18px;
            }
        }
    }
    &__href-wrapper {
        text-align: center;
        margin-top: 3.2rem;
        margin-bottom: 65px;
        a {
            text-decoration: underline;
            color: #1b9cd1;
            font-size: 1.7rem;
            line-height: 3.1rem;
        }
        img {
            margin-left: 10px;
        }
        @include m(767) {
            margin-top: 2.8rem;
            a {
                font-size: 1.4rem;
            }
        }
    }
    &__inner {
        border: 1px solid #c9e7f4;
        border-radius: 20px;
        padding: 35px 36px 31px 25px;
        background-color:rgba(245,251,253,0.9);
        width: 561px;
        color: #222222;
        position: absolute;
        top: 0;
        left: 0;
        @include m(1199) {
            width: 480px;
            padding: 21px 24px 21px 25px;
        }
        @include m(991) {
            width: 450px;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
        @include m(768) {
            width: 100%;
            max-width: 420px;
        }
        form {
            width: 100%;
            display: block;
            max-width: 492px;
            border-top: 1px solid #c9e7f4; 
            margin-top: 27px;
            padding-top: 22px;
            padding-right: 13px;
            @include m(1199) {
                margin-top: 18px;
                padding-top: 18px;
                padding-right: 8px;
            }
            @include m(991) {
                padding-top: 1.2rem;
            }
        }
        &-txt {
            p {
                margin-bottom: 19px;
                font-size: 1.7rem;
                line-height: 2.1rem;
            }
            @include m(1199) {
                p {
                    font-size: 1.5rem;
                    line-height: 1.9rem;
                    margin-bottom: 10px;
                }
            }
            @include m(991) {
                p {
                    font-size: 1.35rem;
                    line-height: 1.8rem;
                    margin-bottom: 8px;
                }
            }
            @include m(768) {
                p {
                    font-size: 1.25rem;
                    line-height: 1.7rem;
                }
            }
        }
        .submit-btn {
            border-radius: 22px;
            height: 44px;
            background-color: #1b9cd1;
            color: #ffffff;
            font-size: 1.7rem;
            padding: 0 27px 0 17px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: $t_d ease;
            .icon {
                color: #ffffff;
                margin-right: 12px;
                font-size: 2.5rem;
                transition: $t_d ease;
            }
            &:hover {
                background-color: rgba(27, 156, 209, .8);
            }
            @include m(1199) {
                height: 40px;
                font-size: 1.5rem;
                padding: 0 22px 0 14px;
                .icon {
                    font-size: 2.1rem;
                    margin-right: 8px;
                }
            }
            @include m(991) {
                height: 35px;
                font-size: 1.3rem;
                .icon {
                    font-size: 1.9rem;
                }
            }
            @include m(768) {
                width: 100%;
            }
        }
        .security-text {
            font-size: 1.3rem;
            color: #222222;
            a {
                color: #1b9cd1;
                text-decoration: underline;
            }
            @include m(1199) {
                font-size: 1.1rem;
            }
            @include m(768) {
                margin-top: 1.2rem;
            }
        }
    }
    &__wrap {
        position: relative;
        height: 62rem;
    }
    .fix_position-absolute {
        position: absolute;
        top: 2rem;
        left: 50%;
        transform: translateX(-50%);
        @include m(1199) {
            margin-left: 3.6rem;
        }
        @include m(991) {
            width: 450px;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            transform: translateX(0);
        }
        @include m(479) {
            max-width: 300px;
        }

    }
}
.my-wrapper-inner {
    width: 100%;
    height: 100%;
}

.map-wrapper {
    width: 100%;
    height: 100%;
}